    
    
    <h1>Crypto Scraper</h1>
    <div class='artcles-container'>

        {{#each articles}}
        <div class='article'>
            <h1>{{title}}</h1>
            <p>{{description}}</p>
            <p>{{url}}</p>
        </div>
        {{/each}}
    </div>